body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 7% 15%;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  color: white;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
}
/* Sections */
.colored-section{
  background-color: #ff4c68;
  color:white;
}
.white-section{
  background-color:white;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.dogImg {
  transform: rotate(30deg);
  position: absolute;
  width: 21%;
  right: 24%;
}

/* NavBar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.download-buttons {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.features-box {
  position: relative;
  padding: 5%;
}

.fa-solid {
  color: #ef8172;
  size: 2rem;
  margin-bottom: 1rem;
}

.fa-solid:hover {
  color: #ff4c68;
}

.t1 {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
}

.testimonial-img {
  border-radius: 100%;
  width: 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.crd-title {
  font-size: 1.5rem;
}

.pricing-text {
  font-size: 3rem;
}

.cardcol {
  padding: 3% 2%;
}

.card {
  height: 24.5rem;
}

.signup {
  position: relative;
  top: 40px;
}

/* CTA */


/* Footer */
#footer {
  height: 200px;
}

.icons {
  margin: 0 1% 1% 1%;
}

@media (max-width:991.5px) {
  #title {
    text-align: center;
  }

  .dogImg {
    position: static;
    transform: rotate(0);
    width: auto;
  }
}

@media (min-width:992px) and (max-width:1036px) {
  .download-buttons {
    flex: 0 0 auto;
    width: 45%;
    font-size: 1rem;
  }
}
